<header [ngClass]="'navbar navbar-expand-lg py-4 navbar-dark ' + footerColor">
  <nav class="container" aria-label="Main navigation">
    <div>
      <a
        [routerLink]="home"
        class="navbar-brand"
        alt="home"
        [routerLinkActive]="activeLink"
        [queryParams]="{ product: '1231' }"
      >
        <img
          src="../../../assets/params/images/kishan-logo.png"
          class="logoImage"
          alt="DGS Logo"
        />
      </a>
    </div>
    <div class="nav-bar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link nga-nav-link"
            aria-current="page"
            [routerLink]="home"
            [routerLinkActive]="activeLink"
          >
            <i class="fab fa-angular me-1"></i> Features</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nga-nav-link"
            aria-current="page"
            [routerLink]="about"
            [routerLinkActive]="activeLink"
          >
            <i class="far fa-question-circle me-1"></i> About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nga-nav-link"
            aria-current="page"
            [routerLink]="contact"
            [routerLinkActive]="activeLink"
          >
            <i class="fas fa-envelope me-1"></i>Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nga-nav-link"
            aria-current="page"
            [href]="github"
            [routerLinkActive]="activeLink"
          >
            <i class="fab fa-github me-1"></i> Github
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link nga-nav-link btn"
            aria-current="page"
            [routerLink]="signup"
            [routerLinkActive]="activeLink"
          >
            <i class="fas fa-user-plus me-2"></i> Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nga-nav-link btn"
            aria-current="page"
            [routerLink]="login"
            [routerLinkActive]="activeLink"
          >
            <i class="fas fa-sign-in-alt me-2"></i> Login</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
