<div class="bg-white">
  <h2 class="text-center py-3">Registration form by Template driven !</h2>
  <div class="container">
    <div
      class="form-container"
      [ngClass]="{ ' form-border ': registrationForm.touched }"
    >
      <form
        class="form"
        (ngSubmit)="OnFormSubmitted()"
        #registrationForm="ngForm"
      >
        <!-- registrationForm is TFV -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="inputFirstName"
              placeholder="First Name"
              name="firstName"
              ngModel
              required
              #fname="ngModel"
              [(ngModel)]="firstName"
            />
          </div>
          <div>
            <span *ngIf="firstName"> You entered: {{ firstName }}</span>
            <small *ngIf="fname.invalid && fname.touched"
              >First name is required field</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="inputLastName"
              placeholder="Last Name"
              name="lastName"
              ngModel
              required
              #lname="ngModel"
              [(ngModel)]="lastName"
            />
          </div>
          <div>
            <span *ngIf="lastName"> You entered:{{ lastName }}</span>
            <small *ngIf="lname.invalid && lname.touched"
              >Last name is required field</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              placeholder="Email"
              name="email"
              ngModel
              required
              #email="ngModel"
              [(ngModel)]="emailAddress"
            />
          </div>
          <div>
            <span *ngIf="emailAddress"> You entered: {{ emailAddress }}</span>
            <small *ngIf="email.invalid && email.touched"
              >Email is required field</small
            >
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Username</label>
            <input
              type="text"
              class="form-control"
              id="inputUsername"
              placeholder="Username"
              name="username"
              ngModel
              required
              #Uname="ngModel"
              [(ngModel)]="username"
            />
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="fname.invalid || lname.invalid"
              (click)="generateUname()"
            >
              Create a Username
            </button>
          </div>
          <div>
            <span *ngIf="username"> You entered: {{ username }}</span>
            <small *ngIf="Uname.invalid && Uname.touched"
              >Username is required field</small
            >
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="Password"
                name="password"
                ngModel
                required
                #pword="ngModel"
                [(ngModel)]="password"
              />
            </div>
            <div>
              <small *ngIf="pword.invalid && pword.touched"
                >Password is required field</small
              >
            </div>
            <div class="form-group col-md-6">
              <label for="inputConfirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="inputConfirmPassword"
                placeholder="Confrim Password"
                name="confirmpassword"
                ngModel
                required
                #cword="ngModel"
                [(ngModel)]="confirmPassword"
              />
            </div>
            <div>
              <small *ngIf="cword.invalid && cword.touched"
                >Confrim password is required field</small
              >
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone</label>
            <input
              type="tel"
              class="form-control"
              id="inputPhone"
              placeholder="Phone"
              name="phone"
              ngModel
              required
              #phone="ngModel"
              [(ngModel)]="phoneNumber"
            />
          </div>
          <div>
            <span *ngIf="phoneNumber"> You entered:{{ phoneNumber }}</span>
            <small *ngIf="phone.invalid && phone.touched"
              >Phone is required field</small
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputGender">Gender</label>
            <select
              id="inputGender"
              class="form-control"
              name="gender"
              ngModel
              required
              #gender="ngModel"
              [(ngModel)]="sex"
            >
              <option selected>Choose...</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <div>
            <small *ngIf="gender.invalid && gender.touched"
              >Gender is required field</small
            >
          </div>
        </div>

        <!-- Group control -->

        <div
          class="input-box address"
          ngModelGroup="address"
          #addre="ngModelGroup"
        >
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="1234 Main St"
              name="address"
              ngModel
              required
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCountry">Country</label>
              <input
                type="text"
                class="form-control"
                id="inputCountry"
                name="country"
                ngModel
                required
              />
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">City</label>
              <input
                type="text"
                class="form-control notRequire"
                id="inputCity"
                name="city"
                ngModel
              />
            </div>
            <div class="form-group col-md-2">
              <label for="inputRegion">Region</label>
              <input
                type="text"
                class="form-control notRequire"
                id="inputRegion"
                name="region"
                ngModel
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputZip">Postal Code</label>
              <input
                type="text"
                class="form-control"
                id="inputZip"
                name="postalCode"
                ngModel
              />
            </div>
          </div>
          <small *ngIf="addre.invalid && addre.touched"
            >*Some of the address fields dose not contain a valid value</small
          >
        </div>
        <a class="nav-link nga-nav-link" aria-current="page" [routerLink]="home"
          >Do you want to go home?</a
        >
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!registrationForm.valid"
        >
          Sign Up
        </button>

        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!registrationForm.invalid"
          (click)="resetForm()"
        >
          Reset Form
        </button>
      </form>
    </div>
  </div>
</div>
