<div class="bg-white">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Company</th>
          <th>Salary</th>
          <th>Job</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.company }}</td>
          <td>{{ user.salary }}</td>
          <td>{{ user.job }}</td>
          <td>
            <button class="btn btn-sm btn-info">Edit</button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteUser()">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-model *ngIf="openModel"></app-model>
