<div class="bg-white">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Phone</th>
          <th>City</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.company.name }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.address.city }}</td>
          <td>
            <button class="btn btn-sm btn-info">Edit</button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-model
  *ngIf="showConfirmDeleteComponent"
  [userToDelete]="deleteToUser"
  [deleteModelMessage]="deleteModelMessage"
  (OnConformation)="OnUserDeletionConfirmed($event)"
></app-model>
