<section class="nga-gradient text-white">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="d-flex justify-content-around align-items-center">
      <div class="p-lg-5 pt-lg-3">
        <div class="text-center">
          <h1 class="mt-2 fw-bold">Angular</h1>
          <h2 class="h1">Web Application</h2>
          <hr />
          <h2 class="h5 mt-4">{{ angular }}</h2>
          <h2 class="h5">{{ bootstrap }}</h2>
          <h2 class="h5">{{ fontawesome }}</h2>
          <div class="col-lg-12 mx-auto mt-4">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a class="nga-btn-home nav-link" routerLink="/cards"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="position-lg-absolute overflow-hidden">
        <img
          src="./assets/params/images/img/home/demarrer-avec-angular.png"
          alt="Getting started with Angular"
          width="360"
          height="350"
        />
      </div>
    </div>
  </div>
</section>

<div class="bg-white">
  <div class="container px-4 py-5">
    <h2 class="display-6 fw-bold pb-2 text-center">Features</h2>
    <hr />
    <div class="row g-4 py-2 row-cols-1 row-cols-md-2 row-cols-lg-4">
      <div class="col" *ngFor="let card of cards; let i = index">
        <div class="nga-card-step p-4">
          <a routerLink="{{ card.url }}">
            <i class="text-primary fab fa-bootstrap fa-2x mb-2"></i>
            <h3 class="h4 text-primary fw-bold">{{ card.name }}</h3>
            <p>{{ card.discription }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
